<nav class="header__nav header-nav">
  <ul>
    <li class="header-nav__item_home"><a href="/">Home</a></li>
    <li class="header-nav__item_posts"><a href="/posts">Posts</a></li>
    <li class="header-nav__item_new-post"><a href="/add-post">New Post</a></li>
    <li class="header-nav__item_contacts"><a href="/contacts">Contacts</a></li>
  </ul>
</nav>
