<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="new-post-body">
  <div class="container">
    <%- include('./partials/nav.ejs')%>
    <h1>Добавляем пост</h1>
    <form action="/add-post" method="post" id="post-form">
      <div class="form-info">
        <label>Заголовок поста
          <input type="text" name="title">
        </label>
        <label>Кто автор
          <input type="text" name="author">
        </label>
      </div>
      <div class="form-text">
        <label>Текст поста
          <textarea name="text" rows="8" cols="80"></textarea>
        </label>
      </div>
      <input type="submit">
    </form>
  </div>
</body>
</html>
