<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="contacts">
  <div class="container">
    <%- include('./partials/nav.ejs')%>
    <h1>Здравствуйте, я контакты!</h1>
    <h2>Contacts</h2>
    <ul>
      <% if (contacts.length) { %>
        <% contacts.forEach(({link, name}) => { %>
          <li>
            <a href="<%= link %>"><%= name %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </div>
</body>
</html>
