<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="main-body">
  <div class="container">
    <%- include('./partials/nav.ejs')%>
    <h1>Здравствуйте, я главная страница!</h1>
  </div>
</body>
</html>
